// Brand Partial

// Illustration Sources
// $landingIllustr: '/images/hero-bg-01.png';
$contactIllustr: '/images/bg.png';

// Illustration Placement
#landing { 
  @include mlBgImg($contactIllustr, left);
  min-height: 700px;
  margin-bottom: $mlLgWhiteSpace;
}

#contact {
  @include mlBgImg($contactIllustr);
}

// Buttons
.ml-details-button {
  @include mlBtn();
}

// Button Media Queries
@media screen and ( min-width: $mlScreenLg ) {
  .ml-left-btn {
    float: left;
    margin-left: $mlWhiteSpace;
  }
  .ml-right-btn {
    float: right;
    margin-right: $mlWhiteSpace;
  }
}


// Textboxes
.ml-text-box-wrap {
  text-align: center;
}
.ml-pink-rectangle {
  background-color: $mlPinkTransparent;
  height: 5px;
  width: 20%;
  margin: 0 auto $mlLgWhiteSpace;
}

.ml-text-box {
  background-color: $mlPinkTransparent;
  padding-top: $mlWhiteSpace;
  padding-bottom: $mlWhiteSpace;
  margin: 10px;

  p {
    width: 80%;
    margin: 0 auto;
  }
}

// Hero Textbox Styles
#hero {
  transform: translateY(10%);
  margin-bottom: 200px;

  .ml-text-box:before {
    content: "";
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
    height: calc(100% - 150px);
    background-color: white;
    z-index: -1;
    opacity: 0.75;
  }
}

@media screen and ( min-width: 321px ) {
  #hero {
    transform: translateY(10%);

  }
}

// Hero Textbox Transforms
@media screen and ( min-width: $mlScreenMd ) {
  #hero {
    transform: translateY(12.5%);

    .ml-text-box {
      margin: 0;
    }
  }
}

// Contact Form Styles
#contact .pure-form input {
  width: 80%;
  margin: 0 auto 30px;
  background-color: $mlTransparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $mlMediumGraySemiTransparent;
  box-shadow: none;
  height: 50px;

  &::placeholder-shown,
  &::placeholder {
    font-family: $monospaceFont;
    padding-left: 0;
  }
}

@media ( min-width: $mlScreenMd ) {
  #contact .pure-form input {
    width: 33%;
  }
}

// Social Footer
#contact { 
  position: relative;
  margin-bottom: 0;
}

#social-footer {
  position: absolute;
  bottom: 0px;
  right: 10px;

  a {
    color: $mlMediumGraySemiTransparent;
    transition: color 200ms ease-in;
  }

  a:hover {
    color: $mlMediumGray;
    transition: color 200ms ease-out;
  }
}

@media ( min-width: $mlScreenLg ) {
  #social-footer {
    right: $mlWhiteSpace;
  }
}

// Body 
body {
  scroll-behavior: smooth;
  // background-image: url('/images/dots.jpg');
  // background-attachment: fixed;
}

// Fade Animations
// .ml-fade-in {
//   visibility: hidden;
// }
// .ml-visible {
//   visibility: visible;
//   transition: opacity 1s ease-out;
// }

