// Color Module

$mlTransparent: rgba(255,255,255,0);
$mlPink: #FFD9D9;
$mlPinkTransparent: rgba(255, 217, 217, 0.33);
$mlMediumGray: #4B4B4B;
$mlMediumGraySemiTransparent: rgba(75,75,75, 0.75);
$mlMediumGrayTransparent: rgba(75,75,75, 0.075);
$mlGray: #bcbcbc;
$mlLightGray: #F7F7F7;
$mlWhite: #FFFFFF;