// Typography Partial

$serifFont: 'Playfair Display', serif;
$monospaceFont: 'Cutive Mono', monospace;
$secondaryFont: 'Source Serif Pro', serif;


h1 {
  font-family: $serifFont;
  font-size: 48px;
  font-weight: normal;
  margin-bottom: -20px;
  color: $mlMediumGray;
  
}
h3 {
  font-family: $serifFont;
  font-size: 24px;
  font-weight: normal;
  color: $mlMediumGray;
  
}

.ml-full-width-header {
  padding-top: 150px;
  margin: auto auto -1.25% auto;
  z-index: 10;
}

a {
  color: $mlMediumGray;
}

p {
  font-family: $secondaryFont;
  color: $mlMediumGray;
  line-height: 2em;
  font-size: 1em;
}