.ml-p-top {
  padding-top: 50px; }

.ml-p-top-2x {
  padding-top: 100px; }

.ml-p-btm {
  padding-bottom: 50px; }

.ml-p-btm-2x {
  padding-bottom: 100px; }

.ml-m-top {
  margin-top: 50px; }

.ml-m-btm {
  margin-bottom: 50px; }

.center-col {
  margin: 0 auto; }

@media screen and (min-width: 64em) {
  .ml-fullscreen {
    margin-bottom: 100px; } }

@media (max-width: 1023px) {
  .ml-mirror {
    display: flex;
    flex-direction: column-reverse; } }

h1 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-weight: normal;
  margin-bottom: -20px;
  color: #4B4B4B; }

h3 {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: normal;
  color: #4B4B4B; }

.ml-full-width-header {
  padding-top: 150px;
  margin: auto auto -1.25% auto;
  z-index: 10; }

a {
  color: #4B4B4B; }

p {
  font-family: "Source Serif Pro", serif;
  color: #4B4B4B;
  line-height: 2em;
  font-size: 1em; }

#landing {
  overflow: hidden;
  background-image: url("bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
  min-height: 700px;
  margin-bottom: 100px; }

#contact {
  overflow: hidden;
  background-image: url("bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.ml-details-button {
  padding: 10px 30px 12px;
  margin: -15px auto auto auto;
  color: #4B4B4B;
  background-color: #FFFFFF;
  font-family: "Playfair Display", serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  border: 0.5px solid #bcbcbc;
  box-shadow: 5px 5px 0 rgba(75, 75, 75, 0.075); }

@media screen and (min-width: 64em) {
  .ml-left-btn {
    float: left;
    margin-left: 50px; }
  .ml-right-btn {
    float: right;
    margin-right: 50px; } }

.ml-text-box-wrap {
  text-align: center; }

.ml-pink-rectangle {
  background-color: rgba(247, 200, 196, 0.8);
  height: 5px;
  width: 20%;
  margin: 0 auto 100px; }

.ml-text-box {
  background-color: rgba(247, 200, 196, 0.8);
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 10px; }
  .ml-text-box p {
    width: 80%;
    margin: 0 auto; }

#hero {
  transform: translateY(10%);
  margin-bottom: 200px; }
  #hero .ml-text-box:before {
    content: "";
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
    height: calc(100% - 150px);
    background-color: white;
    z-index: -1;
    opacity: 0.75; }

@media screen and (min-width: 321px) {
  #hero {
    transform: translateY(10%); } }

@media screen and (min-width: 48em) {
  #hero {
    transform: translateY(12.5%); }
    #hero .ml-text-box {
      margin: 0; } }

#contact .pure-form input {
  width: 80%;
  margin: 0 auto 30px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0;
  border-bottom: 1px solid rgba(75, 75, 75, 0.6);
  box-shadow: none;
  height: 50px; }
  #contact .pure-form input::placeholder-shown, #contact .pure-form input::placeholder {
    font-family: "Cutive Mono", monospace;
    padding-left: 0; }

@media (min-width: 48em) {
  #contact .pure-form input {
    width: 33%; } }

#contact {
  position: relative;
  margin-bottom: 0; }

#social-footer {
  position: absolute;
  bottom: 0px;
  right: 10px; }
  #social-footer a {
    color: rgba(75, 75, 75, 0.6);
    transition: color 200ms ease-in; }
  #social-footer a:hover {
    color: #4B4B4B;
    transition: color 200ms ease-out; }

@media (min-width: 64em) {
  #social-footer {
    right: 50px; } }

body {
  scroll-behavior: smooth; }

.pure-menu-item {
  font-family: "Playfair Display", serif; }

.pure-menu-horizontal {
  text-align: center;
  padding: 15px 0;
  border-bottom: 1px solid #F7F7F7; }

.pure-menu-link {
  transition: color 0.3s ease-in; }

.pure-menu-link:hover {
  background-color: #FFFFFF;
  color: #4B4B4B;
  transition: color 0.3s ease-out; }

.pure-menu-link:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 25%;
  bottom: 6%;
  left: 25%;
  background-color: rgba(247, 200, 196, 0.8);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s; }

.pure-menu-link:hover:before {
  visibility: visible;
  transform: scaleX(1); }

.headroom {
  will-change: transform;
  transition: transform 200ms linear;
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1000; }

.headroom--pinned {
  transform: translateY(0%); }

.headroom--unpinned {
  transform: translateY(-100%); }

.ml-featured-img {
  height: 250px; }

.ml-mirror .ml-featured-img {
  z-index: -1; }

.ml-featured-img {
  overflow: hidden;
  z-index: -2; }
  .ml-featured-img img {
    width: 100%;
    filter: contrast(50%);
    z-index: -1; }

@media screen and (min-width: 64em) {
  .ml-featured-img img {
    filter: contrast(100%); } }

.ml-tech-stack-icons {
  font-size: 21pt;
  color: rgba(75, 75, 75, 0.6); }

.ml-featured-work .ml-text-box-wrap {
  margin-top: -40%;
  margin-bottom: 15%; }
  .ml-featured-work .ml-text-box-wrap h1 {
    margin-bottom: -1%;
    color: #FFFFFF; }
  .ml-featured-work .ml-text-box-wrap p {
    padding: 0;
    line-height: 1.5em;
    max-width: 80%;
    margin: 0 auto; }
  .ml-featured-work .ml-text-box-wrap .ml-text-box {
    background-color: #F7C8C4; }

@media screen and (min-width: 35.5em) {
  .ml-featured-work .ml-text-box-wrap {
    margin-top: -20%; } }

@media screen and (min-width: 48em) {
  .ml-featured-img {
    height: 350px; }
  .ml-featured-work .ml-text-box-wrap {
    margin-top: -15%; } }

@media screen and (min-width: 64em) {
  .ml-featured-img {
    height: 550px; }
  .ml-featured-work .ml-text-box-wrap {
    margin-top: 0; }
    .ml-featured-work .ml-text-box-wrap h1 {
      color: #4B4B4B;
      margin-bottom: -20px; }
    .ml-featured-work .ml-text-box-wrap .ml-text-box {
      background-color: rgba(247, 200, 196, 0.8);
      margin: 0; }
    .ml-featured-work .ml-text-box-wrap p:before {
      content: "";
      position: absolute;
      top: 45px;
      left: 0;
      width: 100%;
      height: calc(100% - 45px);
      background-color: white;
      z-index: -1;
      opacity: 0.5; }
  .ml-featured-work .ml-text-box-wrap {
    transform: translateX(-40px) translateY(25%); }
  .ml-featured-work.ml-mirror .ml-text-box-wrap {
    transform: translateX(40px) translateY(25%); } }
