<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Michele Lim Portfolio</title>


<!-- Import Pure Grid -->
<!--[if lte IE 8]>
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/base-min.css">
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-min.css">
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/base-min.css">
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-min.css">
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
<!--<![endif]-->

<!-- Import Main Stylesheet -->
<link rel="stylesheet" href="./css/main.css">

<!-- Import Google fonts -->
<link href="https://fonts.googleapis.com/css?family=Cutive+Mono|Playfair+Display" rel="stylesheet">



</head>

<body>
  <p class="test" >Hello World Lorem Ipsum dolor sit amet! uno dos tres quatro cinco seis</p>
  <p>Hello World once again</p>
</body>
</html>
