<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Michele Lim Portfolio</title>


<!-- Import Pure Grid -->
<!--[if lte IE 8]>
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/base-min.css">
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-min.css">
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
<!--<![endif]-->

<!-- Import Main Stylesheet -->
<link rel="stylesheet" href="./css/main.css">

<!-- Import Google fonts -->
<link href="https://fonts.googleapis.com/css?family=Cutive+Mono|Playfair+Display|Source+Serif+Pro" rel="stylesheet">

<!-- Import Icon System -->
<link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">

<!-- Import JS -->
<script src="app.js"></script>

</head>

<body>  
  <!-- Navigation -->
  <nav id="navigation">
    <div class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="#landing" class="pure-menu-link">About</a></li>
        <li class="pure-menu-item"><a href="#projects" class="pure-menu-link">Work</a></li>
        <li class="pure-menu-item"><a href="#contact" class="pure-menu-link">Contact</a></li>
      </ul>
  </div>
  </nav>

  <!-- Landing Section -->
  <div id="landing" class="pure-g ml-fullscreen">
    <div class="pure-u-1 pure-u-md-14-24 pure-u-lg-10-24 center-col">
      <div id="hero" class="ml-text-box-wrap">
        <!-- Hero Box -->
        <h1>Michelle Lim</h1>
        <h3>Front-End Engineer</h3>
        <div class="ml-text-box">
          <p>
            Hello! I am a friendly, enthusiastic Front-End Engineer with effective communication skills and an eye for design. I graduated in 2016 from UC Irvine with a Bachelor of Science in Computer Science, participated in undergraduate research with the iGravi lab at UCI, and led a student housing community as Community Advisor. Currently, I have one year of experience as a Front-End Web and Web Application Engineer. <br><br>
            <a target="_blank" href="Resume2017.pdf">Resume</a> 
            <a target="_blank" href="https://www.linkedin.com/in/michelleslim/">LinkedIn</a> 
            <br><br>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Featured Work Section Intro -->
  <div id="projects" class="pure-g">
    <div class="pure-u-1 pure-u-md-14-24 pure-u-lg-10-24 center-col">
      <div class="ml-text-box-wrap">
        <h1>Featured Work</h1>
        <h3>Coming Soon!</h3>
        <div class="ml-pink-rectangle"></div>
      </div>
    </div>
  </div>

  <!-- Project 1 -->
  <div id="project-1" class="pure-g ml-fullscreen ml-featured-work ml-sr-wrap">
    <!-- Image -->
    <div class="pure-u-1 pure-u-lg-17-24 ml-featured-img ml-fade-in">
      <!-- <a href="#"> -->
      <img src="p1.jpg" alt="Project 1 featured image" />
      <!-- </a> -->
    </div>
    <!-- Text Box -->
    <div class="pure-u-1 pure-u-lg-7-24">
      <div class="ml-text-box-wrap">
        <h1>Idea#1</h1>
        <div class="ml-text-box">
          <p>A simple image processing tool for the web using Javascript frameworks like Vue or React. Details coming soon.<br><br></p>
          <p class="ml-tech-stack-icons">
            <i class="icon ion-social-github"></i>
            <i class="icon ion-social-chrome"></i>
          </p>
        </div>
        <!-- <button class="ml-details-button ml-right-btn">Details coming soon</button> -->
      </div>
    </div>
  </div>

  <!-- Project 2 -->
  <div id="project-2" class="pure-g ml-fullscreen ml-featured-work ml-mirror">
    <!-- Text Box -->
    <div class="pure-u-1 pure-u-lg-7-24">
      <div class="ml-text-box-wrap">
        <h1>Idea#2</h1>
        <div class="ml-text-box">
          <p>A web application that streamlines the creation of travel itineraries. Adventure is out there! Details coming soon.<br><br></p>
          <p class="ml-tech-stack-icons">
            <i class="icon ion-social-github"></i>
            <i class="icon ion-social-chrome"></i>
          </p>
        </div>
        <!-- <button class="ml-details-button ml-left-btn">Details</button> -->
      </div>
    </div>
    <!-- Image -->
    <div class="pure-u-1 pure-u-lg-17-24 ml-featured-img">
      <!-- <a href="#"> -->
      <img src="p2.jpg" alt="Project 1 featured image">
      <!-- </a> -->
    </div>
  </div>

  <!-- Project 3 -->
  <div id="project-3" class="pure-g ml-fullscreen ml-featured-work">
    <!-- Image -->
    <div class="pure-u-1 pure-u-lg-17-24 ml-featured-img ml-fade-in">
      <!-- <a href="#"> -->
        <img src="p3.jpg" alt="Project 3 featured image" />
      <!-- </a> -->
    </div>
    <!-- Text Box -->
    <div class="pure-u-1 pure-u-lg-7-24">
      <div class="ml-text-box-wrap">
        <h1>Idea#3</h1>
        <div class="ml-text-box">
          <p>A just-for-fun rebranding of the Sacramento Farmers Market. Showcase design chops and build a theme from scratch! Details coming soon.<br><br></p>
          <p class="ml-tech-stack-icons">
            <i class="icon ion-social-github"></i>
            <i class="icon ion-social-chrome"></i>
          </p>
        </div>
        <!-- <button class="ml-details-button ml-right-btn">Details</button> -->
      </div>
    </div>
  </div>

  <!-- Contact Me -->
  <div id="contact" class="ml-fullscreen ml-text-box-wrap ml-p-btm-2x">

    <!-- Contact Me: Header -->
    <div class="pure-g">
      <div class="pure-u-1">
        <h1 class="ml-p-top-2x">Contact Me</h1>
        <h3>Let&#39;s Get In Touch!</h3>
      </div>
    </div>

    <!-- Contact Me: Form -->
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-14-24 pure-u-lg-10-24 center-col">
        <!-- <div class="ml-text-box"> -->
          <div class="ml-pink-rectangle"></div>
          <p>(916) 425 9507</p>
          <p class="ml-p-btm-2x">contact @ michellelim.io </p>

          <!-- <form class="pure-form pure-form-stacked">
            <fieldset>
              <input id="email" type="email" placeholder="Email Address">
              <input id="name" type="text" placeholder="Your Name">
              <input id="message" type="text" placeholder="Message Body">
            </fieldset>
          </form> -->
        <!-- </div> -->
      </div>
    </div>

    <!-- Contact Me: Submit -->
    <!-- <div class="pure-g ml-padding-btm">
      <div class="pure-u-1">
        <button type="submit" class="ml-details-button">Send</button>
      </div>
    </div> -->

    <!-- Contact Me: Social -->
    <div class="pure-g">
      <div class="pure-u-1">
        <div id="social-footer">
          <p class="ml-tech-stack-icons">
            <a href="https://github.com/michelle-lim/" target="_blank"><i class="icon ion-social-github"></i></a>
            <a href="https://codepen.io/Miishiiee/" target="_blank"><i class="icon ion-social-codepen-outline"></i></a>
            <a href="https://www.linkedin.com/in/michelleslim/" target="_blank"><i class="icon ion-social-linkedin-outline"></i></a>
            <a href="https://twitter.com/__michellelim" target="_blank"><i class="icon ion-social-twitter"></i></a>
          </p>
        </div>
      </div>
    </div>
  </div> <!-- End Contact Me -->
</body>
</html>
