<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Michele Lim Portfolio</title>


<!-- Import Pure Grid -->
<!--[if lte IE 8]>
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/base-min.css">
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-min.css">
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
<!--<![endif]-->

<!-- Import Main Stylesheet -->
<link rel="stylesheet" href="./css/main.css">

<!-- Import Google fonts -->
<link href="https://fonts.googleapis.com/css?family=Cutive+Mono|Playfair+Display" rel="stylesheet">

</head>

<body>  
  <!-- Navigation -->
  <nav id="navigation">
    <div class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">About</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Work</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Blog</a></li>
      </ul>
  </div>
  </nav>
  <div id="landing" class="pure-g ml-fullscreen">
    <div class="pure-u-1 pure-u-lg-9-24 ml-illustr">
      <!-- Empty div for flower background image -->
    </div>

    <div class="pure-u-1 pure-u-lg-10-24">
      <div id="hero" class="ml-offset-type">
        <!-- Hero Box -->
        <h1>Michelle Lim</h1>
        <div class="ml-text-box">
          <p>Hi! I love web development &amp; design.</p>
          <p>My background is in Computer Science.</p>
          <br>
          <p>My favorite work is featured below.</p>
          <p>For more, peruse my blog, stalk me</p>
          <p>on social media, or email me. Thanks!</p>
        </div>
      </div>
    </div>

    <div class="pure-u-1 pure-u-lg-5-24">
    <!-- Extra -->
    </div>
  </div>

</body>
</html>
